@font-face {
  font-family: "SFR";
  src: url("./SanFranciscoText-Regular.otf");
}

@font-face {
  font-family: "SFDR";
  src: url("./SanFranciscoDisplay-Regular.otf");
}


@font-face {
  font-family: "SFDB";
  src: url("./SanFranciscoDisplay-Medium.otf");
}

@font-face {
  font-family: "SFL";
  src: url("./SanFranciscoDisplay-Light.otf");
}
